{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<header-drawer data-breakpoint="{% if section.settings.menu_type_desktop == 'drawer' %}desktop{% else %}tablet{% endif %}">
  <details id="Details-menu-drawer-container" class="menu-drawer-container">
    <summary
      class="header__icon header__icon--menu header__icon--summary link prada-menu-summary"
      aria-label="{{ 'sections.header.menu' | t }}"
    >
      <span class="prada-menu-icon-wrapper">
        {{- 'prada-menu.svg' | inline_asset_content -}}
        {{- 'prada-close.svg' | inline_asset_content -}}
      </span>
    </summary>
    <div id="menu-drawer" class="gradient menu-drawer motion-reduce color-{{ section.settings.menu_color_scheme }}">
      <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
          <nav class="prada-desktop-menu" aria-label="{{ 'sections.header.menu' | t }}">
            <div class="prada-desktop-menu__toolbar">
              <button type="button" class="prada-desktop-menu__toolbar-button" data-prada-drawer-close>
                <span class="prada-desktop-menu__toolbar-icon">
                  {{- 'prada-close.svg' | inline_asset_content -}}
                </span>
                <span>Close</span>
              </button>
              <button type="button" class="prada-desktop-menu__toolbar-button" data-prada-drawer-search>
                <span class="prada-desktop-menu__toolbar-icon">
                  {{- 'prada-search.svg' | inline_asset_content -}}
                </span>
                <span>Search</span>
              </button>
            </div>

            <div class="prada-desktop-menu__primary" role="list">
              {%- for link in section.settings.menu.links -%}
                <div class="prada-desktop-menu__item{% if link.links != blank %} has-submenu{% endif %}" role="listitem">
                  {%- if link.links != blank -%}
                    <input
                      class="prada-desktop-menu__primary-control"
                      type="radio"
                      name="PradaDesktopMenu-{{ section.id }}"
                      id="PradaDesktopMenu-{{ section.id }}-{{ forloop.index }}"
                    >
                    <label class="prada-desktop-menu__primary-link" for="PradaDesktopMenu-{{ section.id }}-{{ forloop.index }}">
                      <span>{{ link.title | escape }}</span>
                      <span class="prada-desktop-menu__chevron" aria-hidden="true">&rarr;</span>
                    </label>
                    <div class="prada-desktop-menu__submenu" id="PradaDesktopMenuPanel-{{ section.id }}-{{ forloop.index }}" aria-label="{{ link.title | escape }}">
                      <ul class="prada-desktop-menu__submenu-list" role="list">
                        {%- for childlink in link.links -%}
                          <li class="prada-desktop-menu__submenu-item{% if childlink.links != blank %} has-grandchildren{% endif %}">
                            {%- if childlink.links != blank -%}
                              <input
                                class="prada-desktop-menu__submenu-control"
                                type="radio"
                                name="PradaDesktopSubMenu-{{ section.id }}-{{ forloop.parentloop.index }}"
                                id="PradaDesktopSubMenu-{{ section.id }}-{{ forloop.parentloop.index }}-{{ forloop.index }}"
                              >
                              <label class="prada-desktop-menu__submenu-link" for="PradaDesktopSubMenu-{{ section.id }}-{{ forloop.parentloop.index }}-{{ forloop.index }}">
                                <span>{{ childlink.title | escape }}</span>
                                <span class="prada-desktop-menu__chevron" aria-hidden="true">&rarr;</span>
                              </label>
                              <div class="prada-desktop-menu__grandchild-panel" aria-label="{{ childlink.title | escape }}">
                                <a class="prada-desktop-menu__view-all" href="{{ childlink.url }}">View all</a>
                                <ul class="prada-desktop-menu__grandchild-list" role="list">
                                  {%- for grandchildlink in childlink.links -%}
                                    <li>
                                      <a href="{{ grandchildlink.url }}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                        {{ grandchildlink.title | escape }}
                                      </a>
                                    </li>
                                  {%- endfor -%}
                                </ul>
                              </div>
                            {%- else -%}
                              <a class="prada-desktop-menu__submenu-link" href="{{ childlink.url }}"{% if childlink.current %} aria-current="page"{% endif %}>
                                {{ childlink.title | escape }}
                              </a>
                            {%- endif -%}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  {%- else -%}
                    <a class="prada-desktop-menu__primary-link" href="{{ link.url }}"{% if link.current %} aria-current="page"{% endif %}>
                      <span>{{ link.title | escape }}</span>
                    </a>
                  {%- endif -%}
                </div>
              {%- endfor -%}
            </div>

            <div class="prada-desktop-menu__utility">
              {%- if shop.customer_accounts_enabled -%}
                <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" rel="nofollow">
                  {{- 'prada-account.svg' | inline_asset_content -}}
                  <span>{% if customer %}Account{% else %}Log in or Register{% endif %}</span>
                </a>
              {%- endif -%}
              <a href="{{ routes.cart_url }}">
                {{- 'prada-cart.svg' | inline_asset_content -}}
                <span>Shopping bag</span>
              </a>
              <a href="#" aria-label="View your wish list">
                {{- 'prada-wishlist.svg' | inline_asset_content -}}
                <span>Wishlist</span>
              </a>
              <a href="/pages/contact">
                <span>Contact us</span>
              </a>
            </div>
          </nav>
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        <span class="svg-wrapper">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                        <span class="svg-wrapper">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu gradient motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            <span class="svg-wrapper">
                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      <span class="svg-wrapper">
                                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                                      </span>
                                      <span class="svg-wrapper">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu gradient motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        <span class="svg-wrapper">
                                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                                        </span>
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                rel="nofollow"
              >
                {%- if section.settings.enable_customer_avatar -%}
                  <account-icon>
                    {%- if customer and customer.has_avatar? -%}
                      {{ customer | avatar }}
                    {%- else -%}
                      <span class="svg-wrapper">
                        {{- 'icon-account.svg' | inline_asset_content -}}
                      </span>
                    {%- endif -%}
                  </account-icon>
                {%- else -%}
                  <span class="svg-wrapper">
                    {{- 'icon-account.svg' | inline_asset_content -}}
                  </span>
                {%- endif -%}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization.available_countries or localization.available_languages -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'localization.country_label' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'localization.language_label' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            <ul class="list list-social list-unstyled" role="list">
              {%- if settings.social_twitter_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_twitter_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-twitter.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_facebook_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_facebook_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-facebook.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_pinterest_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_pinterest_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-pinterest.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_instagram_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_instagram_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-instagram.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tiktok_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tiktok_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tiktok.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_tumblr_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_tumblr_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-tumblr.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_snapchat_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_snapchat_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-snapchat.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_youtube_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_youtube_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-youtube.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
              {%- if settings.social_vimeo_link != blank -%}
                <li class="list-social__item">
                  <a href="{{ settings.social_vimeo_link }}" class="list-social__link link">
                    <span class="svg-wrapper">
                      {{- 'icon-vimeo.svg' | inline_asset_content -}}
                    </span>
                    <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                  </a>
                </li>
              {%- endif -%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </details>
</header-drawer>

<script>
  if (!window.pradaDrawerToolbarBound) {
    window.pradaDrawerToolbarBound = true;

    function updatePradaDesktopMenuLevel(menuDrawer) {
      if (!menuDrawer) return;

      const activePrimaryControl = menuDrawer.querySelector('.prada-desktop-menu__primary-control:checked');
      let level = '1';

      if (activePrimaryControl) {
        level = '2';
        const activePrimaryItem = activePrimaryControl.closest('.prada-desktop-menu__item');
        const activeSubmenuControl = activePrimaryItem && activePrimaryItem.querySelector('.prada-desktop-menu__submenu-control:checked');

        if (activeSubmenuControl) level = '3';
      }

      menuDrawer.dataset.pradaMenuLevel = level;
    }

    document.addEventListener('change', function (event) {
      const control = event.target;

      if (!control.matches('.prada-desktop-menu__primary-control, .prada-desktop-menu__submenu-control')) return;

      const menuDrawer = control.closest('.menu-drawer');
      if (!menuDrawer) return;

      if (control.matches('.prada-desktop-menu__primary-control')) {
        menuDrawer.querySelectorAll('.prada-desktop-menu__submenu-control').forEach(function (submenuControl) {
          submenuControl.checked = false;
        });
      }

      updatePradaDesktopMenuLevel(menuDrawer);
    });

    document.addEventListener('click', function (event) {
      const closeButton = event.target.closest('[data-prada-drawer-close]');
      const searchButton = event.target.closest('[data-prada-drawer-search]');
      const actionButton = closeButton || searchButton;

      if (!actionButton) return;

      const drawer = actionButton.closest('header-drawer');
      const drawerSummary = drawer && drawer.querySelector('details > summary');

      if (drawerSummary) drawerSummary.click();

      if (searchButton) {
        window.setTimeout(function () {
          const header = drawer && drawer.closest('.prada-header');
          const searchSummary = header && header.querySelector('.header__search details > summary');
          if (searchSummary) searchSummary.click();
        }, 0);
      }
    });
  }
</script>
